@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --mobile-bp: 375px;
  --desktop-bp: 1440px;

  /* Colors */
  --very-dark-blue: hsl(233, 47%, 7%);    /* main bg */
  --dark-desaturated-blue: hsl(244, 38%, 16%);    /* card bg */
  --overlay-violet: hsl(277, 64%, 41%);
  --soft-violet: hsl(277, 64%, 61%);    /* Accent */
  --white-n: hsl(0, 0%, 100%);    /* main heading, stats */
  --transparent-white: hsla(0, 0%, 100%, 0.75);   /* main paragraph */
  --more-transparent-white: hsla(0, 0%, 100%, 0.6);   /* stat headings */

  /* Typography */
  --body-font-size: 15px;
  --inter: 'Inter', sans-serif;
  --lexend-deca: 'Lexend Deca', sans-serif;
  --inter-fw-400: 400;
  --inter-fw-700: 700;
  --lexend-deca-fw-400: 400;

  --border-radius: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
  font-family: var(--inter);
  display: grid;
  justify-content: center;
  padding: 0 5%;
  color: white;
}

/* Component container */
.container {
  max-width: 1110px;
  min-width: 20.4rem;
  margin: 88px auto;
}

/* Hero image */
.hero-img-wrapper {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--overlay-violet);
  min-width: 20.5rem;
  min-height: 15rem;
  max-width: 33.75rem;
  position: relative;
  grid-area: hero-image;
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  opacity: 0.5;
}

/* .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--overlay-violet);
  opacity: 0.6;
} */

/* Hero content */
.hero-content {
  padding: 2.5rem 2rem;
  text-align: center;
  background-color: var(--dark-desaturated-blue);
  max-width: 33.75rem;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  grid-area: hero-content;
}

.hero-content h1 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: var(--white-n);
  line-height: 1.2;
}

.hero-content h1 span {
  color: var(--soft-violet);
}

.hero-content:nth-child(2) {
  color: var(--transparent-white);
  line-height: 1.6;
  font-size: 0.94rem;
}

/* Stats section */
.stats-wrapper {
  
}

.stats {
  margin-top: 2rem;
}

.stats h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.stats p {
  font-size: 0.75rem;
  letter-spacing: 2px;
  color: var(--more-transparent-white);
  text-transform: uppercase;
}



/* Default attribution styling */

.attribution {
  font-size: 11px;
  text-align: center;
  min-width: 100%;
  margin: 0.5rem auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries */
@media only screen and (min-width: 70rem) {

  body {
    min-height: 100vh;
  }

  /* Component container */
  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: 33.75rem 35.63rem;
    grid-template-rows: 1fr;
    grid-template-areas: "hero-content hero-image";
    margin: auto;
  }

  /* Hero content */
  .hero-content {
    /* padding: 2.5rem 2rem; */
    /* text-align: center; */
    /* background-color: var(--dark-desaturated-blue); */
    width: 100%;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: 0;
  }



  /* Default attribution styling */

  .attribution {
    height: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
  }
}